<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>コメント</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">


</head>
<body>
<h1>コメントをする</h1>
<br>
<div class="container">
<h3>本文・投稿内容</h3>
<% @contributions.each do |contribution| %>
  <% if contribution.id == params[:c_id].to_i %>
    <p><%= contribution.course%></p>
    <p><%= contribution.body%></p>
    <div style="display:inline-flex">
    <form action="/good/<%= contribution.id %>" method="post">
      <input type="submit" class="btn btn-outline-info btn-sm" value="いいね">
    </form>
    <%= contribution.good %>
    </div>
    <br>
  <% end %>
<% end %>

<br>

<form action="/comment_create" method="post">
  <input type="hidden" name="c_id" value="<%= @contribution.id %>">
  <textarea type="text" placeholder="コメントを入れてね" name="body" class="form-control" required></textarea>
  <p><input type="submit" class="btn btn-outline-info" value="投稿"></p>
</form>
<% if @contribution.comments.present?%>
  <p>あなたもコメントをしてみよう！</p>
<% else %>
  <p>1番にコメントをつけてみよう！</p>
<% end %>
<br>
<% @comments.each do |comment| %>
  <div>
    <ul>
    <li>
    <%= comment.body%>
    </li>
    </ul>
  </div>
<% end %>

<!-- <form action="/prefectures/:id/contributions" method="get">
    <input type="submit" value="前に戻る">
</form> -->
<form action="/" method="get">
    <input type="submit" class="btn btn-outline-secondary" value="最初に戻る">
</form>
</div>
</body>
</html>
