<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Uターン</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/stylesheets/style.css">
</head>
<body>
<h1> オリジナルapp </h1>
<div>
<h2>見る</h2>
  <% @prefectures.each do |prefecture| %>
      <a href="/prefecture/<%= prefecture.id %>"><%= prefecture.name %></a>
  <% end %>
</div>
<br>
<div>
<h2>投稿する</h2>
<form  action="/new" method="post">
  <label for="title">出身都道府県*</label>
  <form action="" method="post" >
      <select name="prefecture" id="prefecture">
       <% @prefectures.each do |prefecture| %>
        <option value="<%= prefecture.id %>"><%= prefecture.name %></option>
       <% end %>
      </select>
  <p><label for="course">文理*: </label>
  <label><input type="radio" name="course" value="理系" required>理系</label>
  <label><input type="radio" name="course" value="文系">文系</label></p>
  <p><label for="freeText">進路*: </label>
  <textarea name="body" placeholder="例:地元就職、都市部就職、院進" required></textarea></p>

  <p><input type="submit" value="送信" class="button"></p>
</form>
</div>
<br>
<h3>投稿履歴</h3>
<% @contributions.each do |contribution| %>
  <div>
    <ul>
    <li><%= contribution.prefecture.try(:name) %>
    <%= contribution.course%>
    <%= contribution.body%></li>
    </ul>
  </div>
<% end %>

</body>
</html>