<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ホーム</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  <link rel="stylesheet" href="../assets/stylesheets/style.css">
</head>
<body>
<header>
<h1><b> オリジナルapp </b></h1>
<div class="explanation
">
<p>どこで就職しよう？地元に帰った方がいいのかな？それとも首都圏？</p>
<p>悩んだ時に先輩たちの進路を見れるサイト。先輩たちの選択を参考にして自分の実現したいことを探しに行こう！！</p>
</div>
</header>
<br>
<div class="row justify-content-md-center">
<div class="border col-7">
<div class="container">
<h2>先輩たちの進路を見る(学生向け)</h2>
<br>
  <% @prefectures.each do |prefecture| %>
    <% if prefecture.id == 1 %>
      <p>北海道地方</p>
      <a href="/prefectures/<%= prefecture.id %>/contributions"><%= prefecture.name %></a>
    <% elsif prefecture.id == 2%>
      <p>東北地方</p>
      <a href="/prefectures/<%= prefecture.id %>/contributions"><%= prefecture.name %></a> /
    <% elsif prefecture.id == 8%>
      <p>関東地方</p>
      <a href="/prefectures/<%= prefecture.id %>/contributions"><%= prefecture.name %></a> /
    <% elsif prefecture.id == 15%>
      <p>中部地方</p>
      <a href="/prefectures/<%= prefecture.id %>/contributions"><%= prefecture.name %></a> /
    <% elsif prefecture.id == 24%>
      <p>近畿地方</p>
      <a href="/prefectures/<%= prefecture.id %>/contributions"><%= prefecture.name %></a> /
    <% elsif prefecture.id == 31%>
      <p>中国地方</p>
      <a href="/prefectures/<%= prefecture.id %>/contributions"><%= prefecture.name %></a> /
    <% elsif prefecture.id == 36%>
      <p>四国地方</p>
      <a href="/prefectures/<%= prefecture.id %>/contributions"><%= prefecture.name %></a> /
    <% elsif prefecture.id == 40%>
      <p>九州地方・沖縄地方</p>
      <a href="/prefectures/<%= prefecture.id %>/contributions"><%= prefecture.name %></a> /
    <% elsif prefecture.id == 7 ||  prefecture.id == 14 ||  prefecture.id == 23  ||  prefecture.id == 30  || prefecture.id == 35 || prefecture.id == 39 ||prefecture.id == 47 %>
      <a href="/prefectures/<%= prefecture.id %>/contributions"><%= prefecture.name %></a>
     <% else %>
      <a href="/prefectures/<%= prefecture.id %>/contributions"><%= prefecture.name %></a> /
    <% end %>
  <% end %>
  <br>
 </div>
</div>
</div>
<br>
<div class="row justify-content-md-center">
<div class="border col-7">
<div class="container">
<h2>投稿してみる(社会人向け)</h2>
<br>
<form  action="/new" method="post">
 <div class="row">
  <div class="col-md">
   <div class="form-group">
    <p><label for="title">出身都道府県*</label></p>
      <select name="prefecture" id="prefecture" class="form-control">
       <% @prefectures.each do |prefecture| %>
        <option value="<%= prefecture.id %>"><%= prefecture.name %></option>
       <% end %>
      </select>

  </div>
  <div class="form-group">
    <p><label for="course">文理*: </label>
    <label><input type="radio" name="course" value="理系" required>理系</label>
    <label><input type="radio" name="course" value="文系" >文系</label></p>
  </div>
  <div class="form-group">
    <p><label for="text">進路*: </label>
    <input type="text" name="title" class="form-control" placeholder="例:地元就職、都市部就職、院進" required></p>
  </div>
  <div class="form-group">
    <p><label for="freeText">詳細*: </label>
    <textarea name="body" placeholder="理由やアドバイスなどがあればお願いします。" class="form-control" required></textarea></p>
  </div>
   <div class="row center-block text-center">
   <div class="col-1">
  </div>
  <div class="col-10">
    <p><input type="submit" value="送信"  class="button"></p>
  </div>
  <div class="col-1">
  </div>
     </form>
    </div>
   </div>
  </div>
 </div>
</div>
</div>
<br>
<!-- <h3>投稿履歴</h3>
<% @contributions.each do |contribution| %>
  <div>
    <ul>
    <li>
    <%= contribution.prefecture.try(:name) %>
    <%= contribution.course%>
    <%= contribution.title%>
    <%= contribution.body%>
    </li>
    </ul>
  </div>
<% end %> -->

</body>
</html>