<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Uターン</title>
</head>
<body>
<h1> オリジナルapp </h1>
<div>
<h2>見る</h2>
<% @prefectures.each do |prefecture| %>
    <a href="/prefecture/<%= prefecture.id %>"><%= prefecture.name %></a>
<% end %>


<h2>投稿する</h2>
<form  action="/new" method="post">
<label for="title">出身都道府県*</label>
<form action="" method="post">
      <select name="prefecture" id="prefecture" >
       <% @prefectures.each do |prefecture| %>
        <option value="<%= prefecture.id %>"><%= prefecture.name %></option>
       <% end %>
      </select>
<p><label for="course">文理*: </label>
<label><input type="radio" name="course" value="理系" required>理系</label>
<label><input type="radio" name="course" value="文系">文系</label></p>
<p><label for="freeText">進路*: </label>
<textarea name="body" placeholder="例:地元就職、都市部就職、院進" required></textarea></p>

<p><input type="submit" value="送信"></p>
</form>


<% @comments.each do |comment| %>
<div>
  <p><%= comment.prefecture_id.try(:name) %>
  <%= comment.course%>
  <%= comment.body%></p>
</div>
<% end %>

</body>
</html>
