<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>投稿内容を確認</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
</head>
<body>
<h1><%= @prefecture.name %>の投稿内容を確認</h1>
  <% @contributions.each do |contribution| %>
  <% if contribution.prefecture_id == params[:id].to_i %>
    <p>
    <%= contribution.title%>
    <form action="/prefectiures/<%= @prefecture.id %>/contributions/<%= contribution.id %>/comments" method="get">
      <input type="submit" value="詳細">
      <input type="hidden" name="c_id" value="<%=  contribution.id %>">
    </form>
    </p>
  <% end %>
<% end %>


<form action="/" method="get">
    <input type="submit" value="最初に戻る">
</form>

</body>
</html>
